// Typography.styl
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------

// BODY TEXT
// ---------

p
  margin 0 0 (baseLineHeight / 2)

// HEADINGS
// --------

h1, h2, h3, h4, h5, h6
  margin (baseLineHeight / 2) 0
  font-family headingsFontFamily
  font-weight headingsFontWeight
  line-height baseLineHeight
  color grayDark
  text-rendering optimizelegibility // Fix the character spacing for headings

h1
h2
h3
  line-height baseLineHeight *2

h1
  font-size baseFontSize * 2.75   // ~38px

h2
  font-size baseFontSize * 2.25   // ~32px

h3
  font-size baseFontSize * 1.75   // ~24px

h4
  font-size baseFontSize * 1.25   // ~18px

h5
  font-size baseFontSize          //

h6
  font-size baseFontSize * 0.85   // ~12px

// Page header
.page-header
  padding-bottom (baseLineHeight / 2)- 1
  margin baseLineHeight 0 (baseLineHeight * 1.5)
  border-bottom 1px solid grayLighter

.page-header h1
  line-height: 1

// LISTS
// -----

// Unordered and Ordered lists
ul, ol
  padding: 0
  margin: 0 0 (baseLineHeight / 2) 25px

ul ul,
ul ol,
ol ol,
ol ul
  margin-bottom: 0

ul
  list-style: disc

ol
  list-style: decimal

li
  line-height: baseLineHeight

ul.unstyled,
ol.unstyled
  margin-left: 0
  list-style: none
